<!-- Begin Digital Analytix Tag 1.1302.13 -->
<script type="text/javascript">
    function udm_(e) {
        var t = "comScore=", n = document, r = n.cookie, i = "", s = "indexOf", o = "substring", u = "length", a = 2048, f, l = "&ns_", c = "&", h, p, d, v, m = window, g = m.encodeURIComponent || escape;
        if (r[s](t) + 1) for (d = 0, p = r.split(";"), v = p[u]; d < v; d++) h = p[d][s](t), h + 1 && (i = c + unescape(p[d][o](h + t[u])));
        e += l + "_t=" + +(new Date) + l + "c=" + (n.characterSet || n.defaultCharset || "") + "&c8=" + g(n.title) + i + "&c7=" + g(n.URL) + "&c9=" + g(n.referrer), e[u] > a && e[s](c) > 0 && (f = e[o](0, a - 8).lastIndexOf(c), e = (e[o](0, f) + l + "cut=" + g(e[o](f + 1)))[o](0, a)), n.images ? (h = new Image, m.ns_p || (ns_p = h), h.src = e) : n.write("<", "p", "><", 'img src="', e, '" height="1" width="1" alt="*"', "><", "/p", ">")
    };

    function uid_call(a, b) {
        ui_c2 = 17183199; // your corporate c2 client value
        ui_ns_site = 'ISSSTE.Hipotecas.AgendarCita'; // your sites identifier
        window.b_ui_event = window.c_ui_event != null ? window.c_ui_event : "", window.c_ui_event = a;
        var ui_pixel_url = 'https://sb.scorecardresearch.com/p?c1=2&c2=' + ui_c2 + '&ns_site=' + ui_ns_site + '&name=' + a + '&ns_type=hidden&type=hidden&ns_ui_type=' + b;
        var b = "comScore=", c = document, d = c.cookie, e = "", f = "indexOf", g = "substring", h = "length", i = 2048, j, k = "&ns_", l = "&", m, n, o, p, q = window, r = q.encodeURIComponent || escape;
        if (d[f](b) + 1) for (o = 0, n = d.split(";"), p = n[h]; o < p; o++) m = n[o][f](b), m + 1 && (e = l + unescape(n[o][g](m + b[h])));
        ui_pixel_url += k + "_t=" + +(new Date) + k + "c=" + (c.characterSet || c.defaultCharset || "") + "&c8=" + r(c.title) + e + "&c7=" + r(c.URL) + "&c9=" + r(c.referrer) + "&b_ui_event=" + b_ui_event + "&c_ui_event=" + c_ui_event, ui_pixel_url[h] > i && ui_pixel_url[f](l) > 0 && (j = ui_pixel_url[g](0, i - 8).lastIndexOf(l), ui_pixel_url = (ui_pixel_url[g](0, j) + k + "cut=" + r(ui_pixel_url[g](j + 1)))[g](0, i)), c.images ? (m = new Image, q.ns_p || (ns_p = m), m.src = ui_pixel_url) : c.write("<p><img src='", ui_pixel_url, "' height='1' width='1' alt='*'></p>");
    }

    udm_('https://sb.scorecardresearch.com/b?c1=2&c2=17183199&ns_site=gobmx&name=ISSSTE.Hipotecas.AgendarCita');
</script>
<!-- End Digital Analytix Tag 1.1302.13 -->



@section Scripts{

    @Scripts.Render("~/bundles/entitle/javascript")
    @Scripts.Render("~/bundles/entitle/app")
    @*@{  BundleTable.EnableOptimizations = false; }*@
}




@{
    ViewBag.Title = "Trámite de solicitud de cancelación de hipotecas vía administrativa del ISSSTE";
    Layout = "~/Views/Shared/_LayoutEntitle.cshtml";
}


<script type="text/javascript">
    function RedirectAction(Id, Page) {
        window.location.href = "./RedirectPage?NoIssste=" + Id + "&Page=" + Page;
    }
</script>
<div class="container" style="margin-top: -2px;">
    <div class="row">
        <div class="col-xs-12 col-sm-8" style="margin-top: -6px;">
            <ol class="breadcrumb  col-md-8" id="nave">
                <li><a href="http://www.gob.mx"><i class="icon icon-home"></i></a><i id="navinicio" class="active"><a href="http://www.gob.mx"></a></i></li>
                <li id="navinicio"><a href="~/Entitle/index?noissste=@ViewBag.NoIssste#/Home">Inicio</a></li>
                <li class="active">Agendar cita</li>
            </ol>
        </div>
        <div class="col-xs-12 col-sm-4" style="margin-top: -12px;">
            @Html.Partial("_InfoUsuario", new { UserName = ViewBag.Name })
        </div>

        <div class="hidden-xs col-xs-8 ">
            <h2 class="vertical-buffer">@ViewBag.Title</h2>

        </div>
        <div class="row">
            @Html.Partial("_EntitleMenu")
        </div>
    </div>

    <div >


        <!--Start Wizard Steps-->

        <div class="row " data-ng-controller="appointmentsEntitleController as vm" data-ng-init="vm.initSearch()">

            <div class="col-xs-8">

                <h3>Mis citas</h3>
                <hr class="red">
                <div class="alert alert-info">
                    <strong>Debes cancelar tu cita para poder agendar una nueva cita.</strong><br> Ten en cuenta que sólo podrás agendar o re-agendar 3 veces una cita.
                </div>

                <div class="alerts" style="padding-left: 0px;"></div>

                <h3>Cita agendada</h3>
                <hr class="red">
                <div class="panel panel-default margintop-10">
                    <div class="panel-body">

                        <input type="hidden" id="appointmentSearch" value="@ViewBag.RequestId" />
                        <input type="hidden" id="appointmentSelected" />
                        <table class="table" id="appointmentsTable">
                            <thead>
                                <tr>
                                    <th class="abl-thestatal">Fecha de la cita</th>
                                    <th class="abl-thestatal">Hora de la cita</th>
                                    <th>Delegación</th>
                                    <th>Dirección</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="appointment in vm.appointments" data-trid="{{appointment.AppointmentId}}" ng-click="vm.SelectCancelApp(appointment.AppointmentId)">
                                    <td style="border:none;height:auto">{{appointment.AppointmentDate | date:'dd/MM/yyyy'}}</td>
                                    <td style="border:none;height:auto">{{appointment.AppointmentTime | date:'H:mm'}}</td>
                                    <td style="border:none;height:auto">{{appointment.DelegationName}}</td>
                                    <td style="border:none;height:auto">{{appointment.DelegationAddress}}</td>
                                </tr>
                            </tbody>
                            <tbody data-ng-show="vm.appointments.length == 0">
                                <tr>
                                    <td colspan="4">
                                        <div class="alert alert-warning">
                                            No se encontraron resultados.
                                        </div>
                                    </td>

                                </tr>
                            </tbody>

                        </table>

                        <div class="pull-right">
                            <a data-ng-click="vm.cancelApp(vm.appointmentSelected)" class="btn btn-danger btn-ms disabled" type="button" ng-class="{ disabled: vm.appointments.length == 0}">
                                Cancelar cita
                            </a>
                            <a data-ng-click="vm.addApp('@ViewBag.RequestId')" class="btn btn-primary btn-ms" type="button" ng-class="{ disabled: vm.appointments.length + vm.cancelNotAttendedAppointments.length >= vm.NumberAppointments}">
                                @*<a ng-class="{ disabled: vm.appointments.length + vm.cancelNotAttendedAppointments.length > vm.NumberAppointments}" uid_call('Hipotecas.Agendarcita.Agendar','clickin'); ">*@
                                Agendar/Re-agendar cita
                                @*</a>*@
                                @*href="@Url.Action("Calendario", "Entitle", new { NoIssste = @ViewBag.NoIssste, RequestId = @ViewBag.RequestId })"*@
                            </a>
                        </div>
                    </div>
                </div>


                <!-- Citas pasadas -->
                <h3>Citas canceladas y/o no atendidas</h3>
                <hr class="red">
                <div class="panel panel-default bottom-buffer">
                    <div class="panel-body">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="abl-thestatal">Fecha de la cita</th>
                                    <th class="abl-thestatal">Hora de la cita</th>
                                    <th>Delegación</th>
                                    <th>Dirección</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="cancelNotAttendedAppointment in vm.cancelNotAttendedAppointments">
                                    <td style="border:none;height:auto">{{cancelNotAttendedAppointment.AppointmentDate | date:'dd/MM/yyyy'}}</td>
                                    <td style="border:none;height:auto">{{cancelNotAttendedAppointment.AppointmentTime | date:'H:mm'}}</td>
                                    <td style="border:none;height:auto">{{cancelNotAttendedAppointment.DelegationName}}</td>
                                    <td style="border:none;height:auto">{{cancelNotAttendedAppointment.DelegationAddress}}</td>
                                </tr>
                            </tbody>
                            <tbody data-ng-show="vm.cancelNotAttendedAppointments.length == 0">
                                <tr>
                                    <td colspan="4">
                                        <div class="alert alert-warning">
                                            No se encontraron resultados.
                                        </div>
                                    </td>

                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>

            </div> <!-- col -->

        </div>

        <!-- End Trámite -->
        <!-- End tramite pensiones -->
    </div><!-- container -->

</div>

<script>
        //UI.initTabs();
        UI.selectableTable("appointmentsTable");
        UI.updateSelectIdTable("appointmentsTable", "appointmentSelected");

</script>
