 <!-- Begin Digital Analytix Tag 1.1302.13 -->
<script type="text/javascript">
    function udm_(e) { var t = "comScore=", n = document, r = n.cookie, i = "", s = "indexOf", o = "substring", u = "length", a = 2048, f, l = "&ns_", c = "&", h, p, d, v, m = window, g = m.encodeURIComponent || escape; if (r[s](t) + 1) for (d = 0, p = r.split(";"), v = p[u]; d < v; d++) h = p[d][s](t), h + 1 && (i = c + unescape(p[d][o](h + t[u]))); e += l + "_t=" + +(new Date) + l + "c=" + (n.characterSet || n.defaultCharset || "") + "&c8=" + g(n.title) + i + "&c7=" + g(n.URL) + "&c9=" + g(n.referrer), e[u] > a && e[s](c) > 0 && (f = e[o](0, a - 8).lastIndexOf(c), e = (e[o](0, f) + l + "cut=" + g(e[o](f + 1)))[o](0, a)), n.images ? (h = new Image, m.ns_p || (ns_p = h), h.src = e) : n.write("<", "p", "><", 'img src="', e, '" height="1" width="1" alt="*"', "><", "/p", ">") };
    function uid_call(a, b) {
        ui_c2 = 17183199; // your corporate c2 client value
        ui_ns_site = 'ISSSTE.Hipotecas.Index'; // your sites identifier
        window.b_ui_event = window.c_ui_event != null ? window.c_ui_event : "", window.c_ui_event = a;
        var ui_pixel_url = 'https://sb.scorecardresearch.com/p?c1=2&c2=' + ui_c2 + '&ns_site=' + ui_ns_site + '&name=' + a + '&ns_type=hidden&type=hidden&ns_ui_type=' + b;
        var b = "comScore=", c = document, d = c.cookie, e = "", f = "indexOf", g = "substring", h = "length", i = 2048, j, k = "&ns_", l = "&", m, n, o, p, q = window, r = q.encodeURIComponent || escape; if (d[f](b) + 1) for (o = 0, n = d.split(";"), p = n[h]; o < p; o++) m = n[o][f](b), m + 1 && (e = l + unescape(n[o][g](m + b[h]))); ui_pixel_url += k + "_t=" + +(new Date) + k + "c=" + (c.characterSet || c.defaultCharset || "") + "&c8=" + r(c.title) + e + "&c7=" + r(c.URL) + "&c9=" + r(c.referrer) + "&b_ui_event=" + b_ui_event + "&c_ui_event=" + c_ui_event, ui_pixel_url[h] > i && ui_pixel_url[f](l) > 0 && (j = ui_pixel_url[g](0, i - 8).lastIndexOf(l), ui_pixel_url = (ui_pixel_url[g](0, j) + k + "cut=" + r(ui_pixel_url[g](j + 1)))[g](0, i)), c.images ? (m = new Image, q.ns_p || (ns_p = m), m.src = ui_pixel_url) : c.write("<p><img src='", ui_pixel_url, "' height='1' width='1' alt='*'></p>");
    }
    udm_('https://sb.scorecardresearch.com/b?c1=2&c2=17183199&ns_site=gobmx&name=ISSSTE.Hipotecas.Index');
</script>
<!-- End Digital Analytix Tag 1.1302.13 -->

@model ISSSTE.Tramites2016.Hipotecas.Model.Model.Entitle
@{
    ViewBag.Title = "Trámite de solicitud de cancelación de hipotecas vía administrativa del ISSSTE";
    Layout = "~/Views/Shared/_LayoutEntitle.cshtml";
}

<script type="text/javascript">
    function RedirectAction(Id, Page) {
        window.location.href = "./RedirectPage?NoIssste=" + Id + "&Page=" + Page;
    }

    window.setTimeout(function () {
        $(".alert-danger").delay(500).slideUp(500, function () {
            $(this).alert('close');
        });
    }, 10000);
</script>

<script>

    $("html, body").animate({ scrollTop: 1 }, 2000);

    function valida(e) {
        tecla = (document.all) ? e.keyCode : e.which;

        //Tecla de retroceso para borrar, siempre la permite
        if (tecla == 8) {
            return true;
        }

        // Patron de entrada, en este caso solo acepta numeros
        patron = /[0-9]/;
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }
</script>

<div data-ng-controller="homeController as vm" data-ng-init="vm.getAlerts()" id="ScrollMenus">
    <div class="container" style="margin-top: -2px;">
        <div class="row">

            <div class="col-xs-12 col-sm-8">
                <ol class="breadcrumb  col-md-8" id="nave">
                    <li><a href="http://www.gob.mx"><i class="icon icon-home"></i></a><i id="navinicio" class="active"><a href="http://www.gob.mx"></a></i></li>
                    <li id="navinicio"><a href="~/Entitle/index?noissste=@ViewBag.NoIssste#/Home">Inicio</a></li>
                </ol>
            </div>
            <div class="col-xs-12 col-sm-4">
                @if (Model != null)
                {
                    @Html.Partial("_InfoUsuario", new { UserName = Model.Name })
                }

            </div>

            <div class="container">
                <div class="row">
                    <div class="hidden-xs col-xs-8 ">
                        <h2 class="vertical-buffer">@ViewBag.Title</h2>
                    </div>
                </div>
            </div>
            @{

                if (ViewBag.Bandera != "Vacio")
                {

                    <div>
                        <!--oculta el menu -->
                        <div class="clearfix">

                        </div>

                        <div>
                            <div class="hidden-xs hidden-sm col-md-12 col-lg-12 row">
                                <div class="col-md-8 col-lg-8">
                                    <div class="btn-group text-center bottom-buffer" role="group" aria-label="...">

                                        <a role="button" class="btn btn-default disabled"
                                           href="@Url.Action("Index", "Entitle", new { NoIssste = @ViewBag.NoIssste })" data-toggle="tooltip"
                                           data-placement="bottom" style="padding: 10px 20px;">
                                            <span class="icon-home " aria-hidden="true"></span>&nbsp;Inicio
                                        </a>
                                        <a role="button" class="btn btn-default"
                                           href="@Url.Action("About", "Entitle", new { NoIssste = @ViewBag.NoIssste })" data-toggle="tooltip"
                                           data-placement="bottom" style="padding: 10px 20px;">
                                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Acerca del trámite
                                        </a>
                                        <a role="button" class="btn btn-default"
                                           href="@Url.Action("Solicitud", "Entitle", new { NoIssste = @ViewBag.NoIssste })" data-toggle="tooltip"
                                           data-placement="bottom" role="button" style="padding: 10px 20px;">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Registrar solicitud
                                        </a>
                                        <a role="button" class="btn btn-default"
                                           href="@Url.Action("Historial", "Entitle", new { NoIssste = @ViewBag.NoIssste })" data-toggle="tooltip"
                                           data-placement="bottom" role="button" style="padding: 10px 20px;">
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Mis solicitudes
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <div class="panel-group" id="accordion" style="">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">
                                                    <a data-parent="#alertas" style="text-decoration: none;">
                                                        <span class="glyphicon glyphicon-bell"></span>&nbsp;Alertas. Para continuar tu trámite da clic en: "atender notificación".
                                                    </a>
                                                    <button style="position: relative; top: -15px; right: 0px; float:right;" type="button" class="collpase-button collapsed" data-parent="#accordion" data-toggle="collapse" href="#panel-01"></button>
                                                </h3>
                                            </div>
                                            <div class="panel-collapse collapse" id="panel-01">
                                                <div class="panel-body">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr class="abl-tdalert marg-B10px marg-T10px" data-ng-show="vm.alerts.length == 0" data-ng-hide="vm.alerts.length > 0">
                                                                <td>
                                                                    <span class="abl-alerta">Sin notificaciones.</span>
                                                                </td>
                                                            </tr>
                                                            <tr data-ng-repeat="actualNotification in vm.alerts">
                                                                <td class="abl-tdalert">
                                                                    <label class="abl-alerta" style="color: #4A90E2;">{{actualNotification.StatusName}}</label><br>

                                                                    <p class="abl-folio">
                                                                        <font style="text-transform: uppercase;">
                                                                            {{actualNotification.KidName}} <br>
                                                                        </font>
                                                                        {{actualNotification.Date | date:'dd/MM/yyyy'}}
                                                                    </p>
                                                                    <a class="btn btn-default btn-xs abl-verbt" ng-show="actualNotification.StatusName.trim() ==  'En espera de agendar cita'"
                                                                       href="./AgendarCita?NoIssste={{actualNotification.NoISSSTE}}&RequestId={{actualNotification.RequestId}}" role="button">
                                                                        Atender notificación.
                                                                    </a>
                                                                    <a class="btn btn-default btn-xs abl-verbt" ng-show="actualNotification.StatusName.trim() == 'En espera de agendar cita para recoger documentación.'"
                                                                       href="./AgendarCita?NoIssste={{actualNotification.NoISSSTE}}&RequestId={{actualNotification.RequestId}}" role="button">
                                                                        Atender notificación.
                                                                    </a>
                                                                    <a class="btn btn-default btn-xs abl-verbt" ng-show="actualNotification.StatusName.trim() == 'En espera de corrección de documentación.'"
                                                                       href="./Documentacion?NoIssste={{actualNotification.NoISSSTE}}&RequestId={{actualNotification.RequestId}}&Sts={{0}}" role="button">
                                                                        Atender notificación.
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="ng-view" autoscroll="true"></div>
        </div>

        <div class="col-md-12 row">
            @{
                if (ViewBag.Message == "Success")
                {
                    <div class="alert alert-success">
                        <div>Datos actualizados correctamente.</div>
                        <div>Para continuar con tu trámite haz clic al botón del menú "Registrar solicitud".</div>
                    </div>
                }

                if (ViewBag.Message == "Error")
                {
                    <div class="alert alert-danger">
                        <div>@ViewBag.Message1</div>
                    </div>
                }
            }
        </div>

        <div class="row">
            @using (Html.BeginForm("SaveIndex", "Entitle", FormMethod.Post, new { @id = "formIndex", @class = "cmxform", @novalidate = "novalidate", name = "formData" }))
            {
                <div class="col-md-12">
                    <div>
                        <h3>Datos personales</h3>
                        <hr class="red">
                    </div>
                </div>
                        <div class="form-group col-if-12 col-md-4">
                            <label class="control-label">Nombre(s):</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control ns_", disabled = "disabled" })
                        </div>
                        <div class="form-group col-if-12 col-md-4">
                            <label class="control-label">Primer apellido:</label>
                            @Html.TextBoxFor(m => m.PaternalLastName, new { @class = "form-control ns_", disabled = "disabled" })
                        </div>
                        <div class="form-group col-if-12 col-md-4">
                            <label class="control-label">Segundo apellido:</label>
                            @Html.TextBoxFor(m => m.MaternalLastName, new { @class = "form-control ns_", disabled = "disabled" })
                        </div>
                        <div class="form-group col-if-12 col-sm-12 col-md-6 col-lg-2">
                            <label class="control-label">Sexo:</label>

                            @Html.TextBoxFor(m => m.Gender, new { @class = "form-control ns_", disabled = "disabled" })

                        </div>
                        <div class="form-group col-if-12 col-sm-12 col-md-6 col-lg-2">
                            <label class="control-label">Estado civil:</label>
                            @Html.TextBoxFor(m => m.MaritalStatus, new { @class = "form-control ns_", disabled = "disabled" })
                        </div>
                       
                        <div class="form-group col-if-12 col-sm-12 col-md-6 col-lg-4">
                            <label class="control-label">Lugar de nacimiento:</label>
                            @Html.TextBoxFor(m => m.Birthplace, new { @class = "form-control ns_", disabled = "disabled" })
                        </div>
                        <div class="form-group col-if-12 col-sm-12 col-md-6 col-lg-4">
                            <label class="control-label">Fecha de nacimiento:</label>

                            @Html.TextBoxFor(m => m.Birthdate, "{0:dd-MM-yyyy}", new { @class = "form-control ns_", disabled = "disabled" })
                        </div>

                        <div class="col-md-12">
                            <div>
                                <h3>Dirección</h3>
                                <hr class="red">
                            </div>
                        </div>
                        <div class="form-group col-if-12 col-sm-12 col-md-6 col-lg-4">
                            <label class="control-label">Código postal:</label>
                            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control ns_", disabled = "disabled" })
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="control-label">Municipio o Alcaldía:</label>
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control ns_", disabled = "disabled" })
                        </div>
                        <div class="form-group col-if-12 col-md-4">
                            <label class="control-label">Colonia:</label>
                            @Html.TextBoxFor(m => m.Colony, new { @class = "form-control ns_", disabled = "disabled" })
                        </div>
                        <div class="form-group col-if-12 col-sm-12 col-md-6 col-lg-4">
                            <label class="control-label">Calle:</label>
                            @Html.TextBoxFor(m => m.Street, new { @class = "form-control ns_", disabled = "disabled" })
                        </div>
                        <div class="form-group col-if-6 col-md-2">
                            <label class="control-label">Número exterior:</label>
                            @Html.TextBoxFor(m => m.NumExt, new { @class = "form-control ns_", disabled = "disabled" })
                        </div>
                        <div class="form-group col-if-6 col-md-2">
                            <label class="control-label">Número interior:</label>
                            @Html.TextBoxFor(m => m.NumInt, new { @class = "form-control ns_", disabled = "disabled" })
                        </div>
                        <div class="form-group col-if-6 col-md-4" style="margin-top: 40px;">
                            <hr />
                        </div>

                        <div class="col-md-12">
                            <div>
                                <h3>Datos de contacto</h3>
                                <hr class="red">
                                <div class="alert alert-danger" style="width: 100%; display:none;">
                                    Verifica la información del formulario.
                                </div>
                                <div class="alert alert-info">
                                    Estimado derechohabiente, es importante que nos proporciones tus datos de contacto para poder comunicarte el resultado de tu solicitud. <br /><br />
                                    Estos datos personales son considerados como confidenciales y estarán protegidos conforme a la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental, así como por la Ley Federal de Protección de Datos Personales.
                                    <br /><br />
                                    Te solicitamos estar pendiente de las alertas que se muestran en este sitio, así como de tu correo electrónico y teléfono,
                                    ya que por estos medios te informaremos de la situación que tiene tu trámite.
                                </div>
                            </div>
                        </div>


                        <input type="hidden" id="hidden" name="hidden" value="@(ViewBag.NoIssste ?? String.Empty)" />
                        <div class="form-group col-xs-1">
                            <label for="lada">
                                Lada:
                            </label>
                            @Html.TextBoxFor(m => m.Lada, new { @id = "Lada", @name = "Lada", @class = "form-control ns_", placeholder = "Lada", @maxlength = "3", @minlength = "2", onkeypress = "return valida(event);" })

                        </div>
                        <div class="form-group col-xs-3">
                            <label for="telefono">Teléfono fijo<span class="required"  style="font-size: inherit !important;">*</span>:</label>
                            @Html.TextBoxFor(m => m.Telephone, new { @id = "Telefono", @name = "Telefono", @class = "form-control ns_", placeholder = "Teléfono", @maxlength = "10", @minlength = "8", onkeypress = "return valida(event);", @required = "required" })

                        </div>
                        <div class="form-group col-xs-4">

                            <label for="correo">Correo electrónico<span class="required" style="font-size: inherit !important;">*</span>:</label>
                            @Html.TextBoxFor(m => m.Email, new { @id = "Correo", @name = "Correo", @class = "form-control ns_", placeholder = "Usuario@dominio.com", @type = "email", @required = "required", @maxlength = "100", })
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="correo">Teléfono móvil:</label>
                            @Html.TextBoxFor(m => m.MobilePhone, new { @id = "MobilePhone", @name = "MobilePhone", @class = "form-control ns_", placeholder = "Teléfono móvil", @maxlength = "13", @minlength = "10", onkeypress = "return valida(event);" })
                        </div>

                        @Html.Hidden("HasEmptyFields");

                <div class="col-xs-12 bottom-buffer ">
                    <div class="pull-left text-muted text-vertical-align-button">
                        *Campos obligatorios
                    </div>

                    <!--se agrego en el onclick la llamada a la función Mostrar() para que se visualize la ventana Trabajando en ello...-->
                    <button onclick="uid_call('Index.Actualizar','clickin');validaForm()" class="btn btn-primary pull-right" type="submit" ng-disabled="!formData.$valid">
                        Actualizar información
                    </button>

                </div>
            }
            @section Scripts{

                @Scripts.Render("~/bundles/entitle/app")
            }
        </div>

		<div class="alert alert-info">
			<p>
				<strong>
					AVISO DE PRIVACIDAD SIMPLIFICADO PARA EL LLENADO DEL FORMATO DE TRÁMITE DE SOLICITUD DE CANCELACIÓN DE HIPOTECA
				</strong>
			</p> 
			<p>
				El Instituto de Seguridad y Servicios Sociales de los Trabajadores del Estado, es el responsable del uso y protección de los datos personales que se recaban de los trámites Institucionales, a través del portal www.gob.mx, cuyo administrador y responsable del tratamiento es la Unidad de Gobierno Digital de la Secretaría de la Función Pública.
			</p>
			<p>
				Los datos personales que se recaban serán utilizados con la finalidad de buscar, validar y en su caso, generar el documento correspondiente para gestionar el trámite.
			</p>
			<p>
				Si deseas conocer nuestro aviso de privacidad integral, lo podrás consultar en el portal @Html.ActionLink("www.gob.mx/formatodetrámitedesolicituddecancelacióndehipoteca/privacidadintegral", "PrivacidadIntegral", "Entitle", null, new { target = "_blank" })
			</p>
		</div>
    </div>
</div>

<script type="text/javascript">
    $(window).load(function () { Oculta(); });

    function validaForm() {
        debugger;
        var ac = $("#Lada").val();
        var phone = $("#Telefono").val();
        var email = $("#Correo").val();

        if (ac === "" || phone === "" || email === "") {
            $("#HasEmptyFields").val("tiene campos vacios");
        } else {
            $("#HasEmptyFields").val("");
            //document.getElementById("working").className = "dialog-container dissolve-animation";
        }
    }

</script>
