@model IEnumerable <ISSSTE.Tramites2016.Hipotecas.Model.RequestAdministrator>
@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<script type="text/javascript">
    function RedirectAction(Id, requestId) {
        window.location.href = "./RedirectPage?NoIssste=" + Id + "&Page=Detail&Request=" + requestId;
    }
</script>
<div class="row" >
    <!--/ START LEFT MENU -->
    <div id="side-menu" class="side-menu collapse">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Administrator/Index">Consulta de Solicitudes</a>
                    </li>
                    <li>
                        <a href="/Administrator/AdministracionCitas">Administración de citas</a>
                    </li>
                    <li>
                        <a href="/Administrator/ConsultaCitas">Consulta de Citas</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div> <!-- /.side-menu -->
    <!--/ END LEFT MENU -->

    <div class="container-fluid">
        <div class="side-body ng-view" autoscroll="true">
            <div>
                <!--/ START TITLE -->
                <div class="col-xs-12">
                    <h2>Consulta de solicitudes</h2>
                    <hr class="red">
                </div>

                <!--/ END TITLE -->
                <!-- START CONTENT -->

                <div class="col-xs-12">
                    <div class="alerts"></div>
                </div>

                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control ng-valid" placeholder="Buscar por folio o nombre" data-ng-model="vm.query" data-ng-keyup="$event.keyCode == 13 &amp;&amp; vm.searchRequests()">

                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" data-ng-click="vm.searchRequests()">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="dropdown pull-right" id="status-dropdow">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Mostrar por Todos los estatus
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a data-ng-click="vm.selectStatus(null)">Todos los estatus</a></li>
                            <!-- ngRepeat: actualEstatus in vm.statusList -->
                            <li data-ng-repeat="actualEstatus in vm.statusList" class="ng-scope">
                                <a data-ng-click="vm.selectStatus(actualEstatus)" class="ng-binding">Solicitud incompleta   </a>
                            </li><!-- end ngRepeat: actualEstatus in vm.statusList -->
                            <li data-ng-repeat="actualEstatus in vm.statusList" class="ng-scope">
                                <a data-ng-click="vm.selectStatus(actualEstatus)" class="ng-binding">En validación de documentación</a>
                            </li><!-- end ngRepeat: actualEstatus in vm.statusList -->
                            <li data-ng-repeat="actualEstatus in vm.statusList" class="ng-scope">
                                <a data-ng-click="vm.selectStatus(actualEstatus)" class="ng-binding">En espera de agendar cita</a>
                            </li><!-- end ngRepeat: actualEstatus in vm.statusList -->
                            <li data-ng-repeat="actualEstatus in vm.statusList" class="ng-scope">
                                <a data-ng-click="vm.selectStatus(actualEstatus)" class="ng-binding">Cita agendada</a>
                            </li><!-- end ngRepeat: actualEstatus in vm.statusList -->
                            <li data-ng-repeat="actualEstatus in vm.statusList" class="ng-scope">
                                <a data-ng-click="vm.selectStatus(actualEstatus)" class="ng-binding">Cita atendida</a>
                            </li><!-- end ngRepeat: actualEstatus in vm.statusList -->
                            <li data-ng-repeat="actualEstatus in vm.statusList" class="ng-scope">
                                <a data-ng-click="vm.selectStatus(actualEstatus)" class="ng-binding">Solicitud completa</a>
                            </li><!-- end ngRepeat: actualEstatus in vm.statusList -->
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 margintop-30">
                    <div class="panel panel-default" data-ng-show="vm.requests.length > 0">
                        <div class="panel-body overflow-table">
                            @using (Html.BeginForm("ConsultaDetail", "Entitle", FormMethod.Post, new { @id = "formRegister", @class = "cmxform" }))
                            {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Folio</th>
                                        <th>Nombre Beneficiario</th>
                                        <th>Tipo de Beneficiario</th>
                                        <th>Dirección</th>
                                        <th>Estatus</th>
                                        <th>Fecha de solicitud</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    @foreach (var item in Model)
                                    {
                                    <tr data-ng-repeat="actualRequest in vm.requests" class="ng-scope">
                                    <td>@Html.DisplayFor(modelItem => item.Folio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CURP) </td>
                                    <td>@Html.DisplayFor(modelItem => item.NoISSSTE)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Estatus)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Date)</td>

                                    <td>
                                        <div class="pull-right">
                                            <a style="cursor: pointer">
                                                <button type="button" onclick="RedirectAction(@item.NoISSSTE,'@item.RequestId')" class="btn btn-primary btn-sm">
                                                    Ver detalle
                                                   
                                                </button>
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                                    }
                                </tbody>
                            </table>
                            }
                            <!----------------------------------------------Comienza Listado---------------------------------------------------------------------->
                            @*<div class="panel panel-default margintop-90" id="gridContent" style="padding:20px; ">
                                @{
                                    var grid = new WebGrid(Model);
                                }
                                @grid.GetHtml(
                                    tableStyle: "row",
                                    headerStyle: "col-md-12",
                                    rowStyle: "col-md-2",
                                    mode: WebGridPagerModes.All,
                                    columns:
                                        grid.Columns(
                                         grid.Column("Folio", format: @<text>  <span class="display-mode">@item.Folio </span></text>, style: ""),
                                         grid.Column("CURP", format: @<text>  <span class="display-mode"> @item.CURP</span></text>, style: "col2Width"),
                                         grid.Column("No. ISSSTE", format: @<text> <span class="display-mode">@item.NoISSSTE </span>  </text>, style: "col3Width"),
                                         grid.Column("Nombre", format: @<text> <span class="display-mode">@item.Name </span></text>, style: "col4Width"),
                                         grid.Column("Estatus", format: @<text> <span class="display-mode"> @item.Estatus </span></text>, style: "col5Width"),
                                         grid.Column("Fecha", format: @<text> <span class="display-mode"> @item.Date </span> </text>, style: "col6Width"),

                                            grid.Column("", format: @<text><hr />
                                                <button type="button" class="btn btn-primary btn-sm">Ver Deralle</button>

                                            </text>, style: "col3Width", canSort: false)
                                       ))

                            </div>*@



                            <!----------------------------------------------Termina Listado---------------------------------------------------------------------->

                        </div>
                        <!-- /.panel-default -->
                    </div>
                    <!-- /.panel -->
                    <div class="alert alert-info ng-hide" data-ng-show="vm.requests == 0">
                        No se encontraron solicitudes.
                    </div>

                    <div class="col-xs-2 pull-left paddingleft-0">
                        Mostrar:
                        <select class="form-control ng-valid" data-ng-options="actualPageSize + ' resultados' for actualPageSize in vm.pageSizes" data-ng-model="vm.selectedPageSize" data-ng-change="vm.searchRequests()"><option value="number:10" label="10 resultados" selected="selected">10 resultados</option><option value="number:20" label="20 resultados">20 resultados</option><option value="number:30" label="30 resultados">30 resultados</option><option value="number:40" label="40 resultados">40 resultados</option><option value="number:50" label="50 resultados">50 resultados</option></select>
                    </div>
                    <div class="col-xs-10 pull-right marginbot-20 paddingright-0" data-ng-show="vm.requests.length > 0">
                        <nav class="text-right">
                            <ul class="pagination">
                                <li data-ng-class="{ disabled: vm.isFirstPage() }" class="disabled">
                                    <a data-ng-click="vm.changeToPreviousPage()">«</a>
                                </li>
                                <!-- ngRepeat: actualPage in vm.pages -->
                                <li data-ng-repeat="actualPage in vm.pages" data-ng-class="{ active: vm.isPageSelected(actualPage) }" class="ng-scope active">
                                    <a data-ng-click="vm.changeSelectedPage(actualPage)" class="ng-binding">1</a>
                                </li><!-- end ngRepeat: actualPage in vm.pages -->
                                <li data-ng-class="{ disabled: vm.isLasPage() }" class="disabled">
                                    <a data-ng-disabled="vm.isLasPage()" data-ng-click="vm.changeToNextPage" disabled="disabled">»</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <!-- /.col -->
                <!-- END CONTENT -->

            </div>
        </div>

    </div>



</div>

